@page
@model Apteka_razor.Pages.DrugsModel
@{
    ViewData["Title"] = "Лекарства";
}

<h2>Список лекарств</h2>

<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Название</th>
            <th>Производитель</th>
            <th>Цена</th>
            <th>Срок годности</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.Drugs)
        {
            <tr>
                
                <td>@d.Name</td>
                <td>@d.Manufacturer</td>
                <td>@d.Price</td>
                <td>@d.ExpirationDate?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
