@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<h2>Система учёта аптеки 💊</h2>

<p>Добро пожаловать!</p>

<ul>
    <li><a asp-page="/Employees">Сотрудники</a></li>
    <li><a asp-page="/Drugs">Лекарства</a></li>
    <li><a asp-page="/Sales">Продажи</a></li>
</ul>
